.button{
    border-style: none;
    height: 70px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

.btn-annuler-depense{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: red;
    cursor: pointer;
}

.btn-envoyer-depense{
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: green;
}

.btn-ajout-depense{
    background-color: red;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 0 15px;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.btn-annuler-revenu{
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: red;
    background-color: white;

}

.btn-envoyer-revenu{
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: green;
    background-color: white;
}

.btn-ajout-revenu{
    background-color: green;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.btn-modifier{
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: blue;
    background-color: white;
}
.btn-supprimer{
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: red;
}

.button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}



@media (max-width: 450px) {
    .btn-ajout-depense{
        font-size: 15px;
        padding: 0 15px;
        border-radius: 15px;
    }
    .btn-ajout-revenu{
        font-size: 15px;
        padding: 0 15px;
        border-radius: 15px;
    }
}
