.depense{
    position: fixed;
    top:0;
    margin-top: 5%;
    width: 50%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}

.depense.active{
    opacity: 1;
    z-index: 1;
}

.depense-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.depense-header{
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}
.fermer-depense{
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.fermer-depense:hover{
    background-color: #FF4949;
    color: white;
}

.depense-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.depense-field{
    width: calc(50% - 10px);
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 10px;
    font-size:1rem;
}

.depense-field:focus{
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
}


.depense-footer{
    background-color: inherit;
    text-align: right;
    position: relative;
    top: -10%;
    padding: 0 20px;
}




@media (max-width: 450px) {
    .form-group{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: stretch;
    }

    label{
        align-self: flex-start;
        margin-bottom: 5px;
    }
    .depense-footer{
        position: relative;
        margin-top: 1%;
        padding: 0 20px;
    }

}