
:root{
    --blue: blue;
    --green: green;
    --red: red;
}


#income, #expense{
    font-size: 1.3em;
}
#income{
    color: black;
}
#expense{
    color: black;
}
#balance{
    color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    
}
.numberdps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 8px 5px #ddd;
    padding: 10px 20px;
    border-radius: 15px;
}
.numberbls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 8px 5px #ddd;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
}
.numberrev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 8px 5px #ddd;
    padding: 10px 20px;
    border-radius: 15px;
}

.montant-container{
    display: flex;
    
}
small{
    font-size: 20px;
}

#montant-revenu,#symbol-revenu{color: var(--green);}
#montant-depense,#symbol-depense{color: var(--red);}
#montant-disponible,#symbol-solde{color: var(--blue);}


@media (max-width: 550px) {
    .container{
        width: auto;
    }
    .container-budget{
        width: 40%;
        max-width: 500px;
    }
    .numberrev{
        padding: 10px 15px;
        border-radius: 15px;
    }
    .numberbls{
        padding: 10px 15px;
        border-radius: 15px;
    }
    .numberdps{
        padding: 10px 15px;
        border-radius: 15px;
    }
    
    .conatiner_of_list_of_transactions{
        width: 90vw;
    }

    ul{
        width: 90vw;
    }

    .transaction{
        width: 90%;
        margin: 10px auto;
        
    }

    *{
        font-size: 95% !important;
    }
}