.recuperer{
    width: 100%;
    user-select: none;
}

.recuperer th{
    height: 40px;
    width: 100px;
    background-color: #333;
    font-size: 1rem;
     
}
.recuperer td{
    height: 40px;
    text-align: center;
    box-shadow: 5px 10px 8px 5px #eee;
    padding: 30px 0;
    
}

.recuperer th:last-child,
.recuperer td:last-child{
    padding: 0;
    min-width: 100px;
    text-align: center;
}

.recuperer tr:hover{
    background-color: var(--secundary-color);
}



@media (max-width: 450px) {
    .recuperer{
        width: 60%;
        user-select: none;
    }
}